@import url('bootstrap-icons');
@import url('bootstrap');


.card-img-custom {
  height: 140px;
  object-fit: cover;
}

.page-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}